*{
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background:#303030;
  --colorText: #D2D2D2;
  --colorSecond:#4433cc;
  --backgroundCube:#000000;
  --borderC:15px solid #423189;
}
body {
  margin: 0;
  padding: 0;
  background:#000000;
  overflow: hidden;
}

.loghead {
  margin-top: 50px;
}
.loghead_title{
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: var(--colorText);
  text-shadow: 0 0 0 transparent,
    0 0 10px var(--colorSecond),
    0 0 20px var(--colorSecond),
    0 0 40px var(--colorSecond),
    0 0 100px var(--colorSecond),
    0 0 200px var(--colorSecond),
    0 0 300px var(--colorSecond),
    0 0 500px var(--colorSecond);
  animation: animate 2s infinite alternate;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
@keyframes animate {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.6;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
  48%{
    opacity: 0.4;
  }
}

.login_input{
  color: var(--colorText);
  width: 15%;
  background: var(--background);
  font-size: 16px;
  padding: 7px;
  padding-left: 10px;
  font-weight: 500;
  border: 0px;
  border-radius: 5px;
  outline: none;
  display: inline-block;
}

.logfooter{
  margin-top: 150px;
  text-align: center;
}
.logfooter_p{
  font-weight: 500;
  font-size: 14px;
  color: var(--colorText);
  display: inline-block;
}
.logfooter_socials_icons{
  color: var(--colorSecond);
  margin: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
}



.members-count{
  padding: 7px;
  color: var(--colorText);
  text-transform: uppercase;
  background-color: var(--background);
  font-size: 15px;
  width: 50%;
  margin-top: 50px;
  text-align: left;
  border: 2px solid var(--colorSecond);
  border-bottom: 0px;
  padding-left: 10px;
}

.message-form input{
  color:var(--colorText);
  background: inherit;
  font-size: 16px;
  background-color: var(--background);
  padding: 7px;
  padding-left: 10px;
  border: 2px solid var(--colorSecond);
  border-top: 0px;
  outline: none;
  text-align: left;
  width: 50%;
}

.container{
  width: 50%;
  border: 2px solid var(--colorSecond);
  border-top: 0px;
  border-bottom: 0px;
  padding: 7px;
  padding-left: 10px;
}
.messages {
  display: block;
  overflow: scroll;
  color: #FFFFFF;
  border: 0px;
  padding: 10px;
  height: 350px;
  text-align: left;
  opacity: 100%;
}
.messages::-webkit-scrollbar{
  width: 0px;
}

.message {
  position: relative;
  color: inherit;
  font-size: 15px;
  -webkit-text-size-adjust:none;
  font-size-adjust: none;
}
.member {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  color: var(--colorSecond);
  text-transform: uppercase;
  font-size: 15px;
  -webkit-text-size-adjust:none;
  font-size-adjust: none;
}

.memberJoined{
  font-size: 13px;
  -webkit-text-size-adjust:none;
  font-size-adjust: none;
  color: var(--colorSecond);
  text-align: center;
  display: block;
}

.memberLeft{
  font-size: 13px;
  -webkit-text-size-adjust:none;
  font-size-adjust: none;
  color: var(--colorSecond);
  text-align: center;
  display: block;
}




.containerCube{
  position: absolute;
  align-items: center;
  right: 44%;top:25px;
}
.containerCube2{
  position: absolute;
  align-items: center;
  right: 44%;top:25px;
}
.cube{
  position: relative;
  margin-top: 150px;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: rotation 5s linear infinite ;
}
@keyframes rotation {
  0%{
    transform: rotateX(90deg) rotateY(0deg);
  }
  100%{
    transform: rotateX(90deg) rotateY(360deg);
  }
}

.cube2{
  position: relative;
  margin-top: 150px;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: rotationTwo 5s linear infinite ;
}
@keyframes rotationTwo {
  0%{
    transform: rotateX(90deg) rotateY(0deg);
  }
  100%{
    transform: rotateX(90deg) rotateY(-360deg);
  }
}

.Lc{
  position: absolute;
  top: 0;left:0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.Lc span{
  border: var(--borderC);
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgroundCube);
  transform: rotateY(calc(90deg * var(--n))) translateZ(75px);
  transition: 0.2s ease-in-out;
  filter: blur(7px);
}
.top{
  position: absolute;
  transform-style: preserve-3d;
  top: 0;left: 0;
  border: var(--borderC);
  width: 150px;
  height: 150px;
  background: var(--backgroundCube);
  transform: rotateX(90deg) translateZ(75px);
  transition: 0.2s ease-in-out;
  filter: blur(7px);
}
.bottom{
  content: '';
  position: absolute;
  transform-style: preserve-3d;
  border: var(--borderC);
  top: 0;left: 0;
  width: 150px;
  height: 150px;
  background: var(--backgroundCube);
  transform:  rotateX(90deg) translateZ(-75px);
  filter: blur(7px);
}
